* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #f5f5f5;
  color: #333;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #b6c4d8;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  z-index: 1000;
}

.menu-btn {
  background: black;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
}

/* MENU */
.menu {
  display: none;
  position: fixed;
  top: 60px;
  right: 10px;
  background: white;
  border-radius: 10px;
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

/* SECTIONS */
.section {
  min-height: 100vh;
  padding: 100px 20px;
  text-align: center;
}

/* HERO */
.hero {
  background: #cceee1;
}

.profile {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 4px solid white;
}

/* SKILLS */
.skills {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.skill {
  background: #b6c4d8;
  padding: 15px;
  border-radius: 15px;
  font-weight: 600;
}

/* PROJECTS */
.project {
  background: #b6c4d8;
  padding: 20px;
  border-radius: 15px;
  margin: 15px auto;
  width: 80%;
  cursor: pointer;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal-box {
  background: white;
  width: 80%;
  margin: 20% auto;
  padding: 20px;
  border-radius: 15px;
}

/* EDUCATION */
.edu-card {
  background: #b6c4d8;
  padding: 20px;
  border-radius: 15px;
  margin: 15px auto;
  width: 85%;
}

/* CONTACT */
input, select, textarea {
  width: 90%;
  margin: 10px;
  padding: 10px;
}

.send {
  background: #2b60de;
  color: white;
  padding: 12px;
  border-radius: 15px;
  border: none;
}

/* FOOTER */
footer {
  background: #222;
  color: white;
  padding: 15px;
}
