* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}
nav {
    background-color: #222;
    padding: 15px;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

nav a:hover {
    color: #00adb5;
}
section {
    min-height: 100vh;
    padding: 100px 20px;
    text-align: center;
}
#home {
    background-color: #00adb5;
    color: white;
}
.project-card {
    background-color: #f2f2f2;
    margin: 15px auto;
    padding: 20px;
    width: 70%;
    border-radius: 8px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}
section {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

section.show {
    opacity: 1;
    transform: translateY(0);
}
@media (max-width: 768px) {
    nav a {
        display: block;
        margin: 10px 0;
    }

    .project-card {
        width: 90%;
    }
}
